{% macro user_card(card_user) -%}
{% from 'users/follow_unfollow_button.html' import follow_unfollow_button with context %}
<div class="col-lg-4 col-md-6 col-12">
    <div class="card user-card">
        <div class="card-inner">
        <div class="image-wrapper">
            <img src="{{card_user.header_image_url }}" alt="" class="card-hero">
        </div>
        <div class="card-contents">
            <a href="/users/{{card_user.id }}" class="card-link">
            <img src="{{card_user.image_url }}" alt="Image for {{ card_user.username }}" class="card-image">
            <p>@{{ card_user.username }}</p>
            </a>
            {{follow_unfollow_button(card_user)}}
        </div>
        <p class="card-bio">{{card_user.bio}}</p>
        </div>
    </div>
</div>
{% endmacro -%}